.socialBtn {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: 1px solid $--border-color;
  overflow: hidden;
  svg {
    width: 100%;
    height: 100%;
  }
}

.google {
  width: 21px;
  height: 19px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -51px -100px;
}

.github {
  width: 21px;
  height: 21px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -98px -54px;
}

.twitter {
  width: 21px;
  height: 19px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -10px -99px;
}
