.videoList {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  row-gap: 1.5rem;

  @include respond-to(max-1400) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond-to(max-768) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond-to(max-640) {
    grid-template-columns: 1fr;
    max-width: 500px;
  }
}
