.searchForm {
  @include alienCenter();
  width: 50%;
  max-width: 600px;
  align-self: center;
  fieldset {
    width: 100%;
  }
  legend {
    @include a11yHidden();
  }
  div {
    @include alienCenter();
    width: 100%;
  }
  input {
    padding: 0 20px;
    height: 40px;
    font-size: $--text-base;
    border-radius: 100px 0 0 100px;
    border: 1px solid $--border-color;
    border-right: none;
    flex-grow: 1;
  }
  button {
    @include hoverColorTransition($--bg-color-gray, $--bg-color-gray-hover);
    flex-shrink: 0;
    height: 40px;
    border: 1px solid $--border-color;
    svg {
      fill: $--text-color;
      font-size: $--text-xl;
    }
  }
  .submitBtn {
    border-radius: 0 100px 100px 0;
    padding: 0 20px 0 15px;
  }

  .backBtn {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .voiceBtn {
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
  }
}

.searchIcon {
  width: 20px !important;
  height: 20px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -12px -12px;
}

.voiceIcon {
  width: 20px;
  height: 20px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -97px -12px;
}

.backIcon {
  width: 18px !important;
  height: 18px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -54px -57px;
}

.recording {
  width: 20px !important;
  height: 16px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -54px -14px;
}

@media screen and (min-width: 769px) {
  .backBtn {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .searchForm {
    display: none;
    &.show {
      display: flex;
      width: 100%;
    }
  }
}
