.video {
  grid-area: video;
  width: 100%;
  iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
  }

  h3 {
    font-size: $--text-lg;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
    @include respond-to(max-768) {
      font-size: $--text-base;
    }
  }

  .description {
    margin-top: 20px;
    padding: 16px;
    background-color: $--bg-color-gray;
    border-radius: 10px;

    button {
      margin-top: 10px;
      padding: 5px 0;
    }
  }
}
