.channelInfo {
  @include alienCenter(10px);

  .title {
    font-weight: 600;
  }
  .subscriber {
    font-size: $--text-sm;
    color: $--text-color-gray;
    margin-top: 4px;
  }
}

.thumbnail {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #efefef;
}
