.videoDetail {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: start;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'video relativeVideos'
    'comments relativeVideos';

  @include respond-to(max-1024) {
    justify-items: stretch;
    grid-template-areas:
      'video '
      'relativeVideos'
      'comments';
  }
}

.comments {
  grid-area: comments;
}

.relativeVideos {
  grid-area: relativeVideos;
}
