.videoCard {
  display: flex;
  gap: 20px;

  &.search {
    @include respond-to(max-768) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &.relative {
    width: 400px;
  }
}

.thumbnail {
  display: block;
  flex-shrink: 0;
  width: 200px;
  &.search {
    max-width: 320px;
    width: 100%;
    @include respond-to(max-768) {
      max-width: 100%;
    }
  }
  > div {
    aspect-ratio: 16 / 9;
    background-color: #efefef;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.description {
  overflow: hidden;
  .title {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;

    &.relative {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* 두 줄로 제한 */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  div {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
}

.channel {
  display: inline-flex;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  &.search {
    @include respond-to(max-768) {
      margin-top: 10px;
    }
  }
}

.channelTitle {
  font-weight: 600;
}

.text {
  &.search {
    @include respond-to(max-768) {
      display: none;
    }
  }
}
