.videoCard {
  display: flex;
  gap: 20px;
  @include respond-to(max-768) {
    flex-direction: column;
    gap: 10px;
  }
}

.thumbnail {
  display: block;
  flex-shrink: 0;
  max-width: 320px;
  width: 100%;
  @include respond-to(max-768) {
    max-width: 100%;
  }
  > div {
    aspect-ratio: 16 / 9;
    background-color: #efefef;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.description {
  overflow: hidden;
  .title {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 600;
  }
  div {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }
}

.channel {
  display: inline-flex;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
  @include respond-to(max-768) {
    margin-top: 10px;
  }
  .channelThumb {
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #efefef;
    @include respond-to(max-768) {
      width: 50px;
      height: 50px;
    }
  }
}

.channelTitle {
  font-weight: 600;
}

.text {
  @include respond-to(max-768) {
    display: none;
  }
}
