.videoCard {
  width: 100%;
  overflow: hidden;
  @include hoverColorTransition(transparent, $--bg-color-gray-hover);
  padding: 4px 4px 10px 4px;
  border-radius: 4px;
  p,
  a,
  span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.thumbnail {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: rgb(92, 92, 92);
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.videoDescription {
  margin-top: 10px;
  display: flex;
  gap: 10px;

  .textDescription {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    text-overflow: ellipsis;

    .title {
      font-size: $--text-md;
      font-weight: 500;
      line-height: 1.2;
      max-height: calc(1.2em * 2);
    }

    .channelName,
    .extra {
      font-size: $--text-sm;
      font-weight: 400;
      color: #666;
    }

    .extra {
      @include alienCenter(10px);
    }
  }
}
