.wrap {
  display: flex;
}

.sideNav {
  position: fixed;
  top: 72px;
  left: 0;
  width: 250px;
  padding: 0 16px 16px 16px;
  height: calc(100vh - 72px);
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  @include flexColumnGap(20px);
  > nav {
    @include flexColumnGap(20px);
    ul {
      @include flexColumnGap(8px);
      padding-bottom: 20px;
      border-bottom: 1px solid $--border-color;
    }
  }
  li {
    font-size: $--text-base;
  }
  li a,
  li button {
    @include alienCenter(8px);
    @include hoverColorTransition(transparent, $--bg-color-gray-hover);
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    font-size: $--text-md;
  }

  li a.active {
    background-color: $--bg-color-gray;
  }

  svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}

.subscribeList {
  font-weight: 700;
  padding-left: 8px;
  display: block;
  margin-bottom: 10px;
}

.channelProfile {
  width: 20px;
  height: 20px;
  background-color: aqua;
  border-radius: 50%;
}

span:not(.subscribeList) {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main {
  margin-top: 72px;
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 0 16px;
}

.backDrop {
  display: none;
  position: fixed;
  left: 0;
  top: 72px;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .sideNav {
    position: fixed;
    left: 0;
    top: 72px;
    z-index: 20;
    transform: translate(-100%);
    &.show {
      display: flex;
      transform: translate(0%);
    }
  }
  .backDrop {
    &.show {
      display: block;
    }
  }

  .main {
    margin-left: 0;
    width: 100%;
  }
}
