// 변수, 믹스인 등을 정의하는 파일
$--primary-color: #4e1ac3;
$--primary-color-hover: #2c087b;
$--primary-color-dark: #64ffda;
$--primary-color-dark-hover: #5bd2b6;

$--bg-color: #fff;
$--bg-color-dark: #1e1e20;
$--bg-color-gray: #f8f8f8;
$--bg-color-gray-hover: #e3e3e3;
$--bg-color-dark-gray: #535353;

$--border-color: #e0e0e0;

$--text-color: #333;
$--text-color-gray: #606060;
$--text-color-dark: #f2f2f2;
$--text-color-gray-dark: #aaa;

$--text-sm: 12px;
$--text-md: 14px;
$--text-base: 16px;
$--text-lg: 20px;
$--text-xl: 24px;
$--text-xxl: 32px;

$--padding-md: 16px;
$--padding-lg: 24px;
$--padding-xl: 32px;

@mixin a11yHidden() {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@mixin alienCenter($gap: 0) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin flexCenter($gap: 0) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin flexCenterColumn() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexColumnGap($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flexCenterColumnGap($gap) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin flexCenterGap($gap) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin hoverColorTransition($color, $hoverColor, $type: background-color) {
  @if $type == background-color {
    transition: background-color 0.1s ease-in-out;
    background-color: $color;
    cursor: pointer;
    &:hover {
      background-color: $hoverColor;
    }
  } @else if $type == color {
    transition: color 0.1s ease-in-out;
    color: $color;
    cursor: pointer;
    &:hover {
      color: $hoverColor;
    }
  }
}

@mixin pulse-animation(
  $duration: 2s,
  $colorStart: $--bg-color-gray,
  $colorEnd: $--bg-color-gray-hover
) {
  @keyframes pulse {
    0%,
    100% {
      background-color: $colorStart;
    }
    50% {
      background-color: $colorEnd;
    }
  }

  animation: pulse $duration infinite;
}
