.header {
  @include alienCenter();
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  justify-content: space-between;
  width: 100%;
  padding: $--padding-md;
  > div {
    @include alienCenter();
    gap: 10px;
  }
  h1 {
    font-size: $--text-xl;
    font-weight: 700;
    @include hoverColorTransition($--text-color, $--primary-color, color);
    a {
      @include alienCenter(5px);
    }
  }
  svg {
    fill: $--primary-color;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  &:hover {
    span {
      background-color: $--primary-color;
    }
  }
  span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: $--text-color;
  }
}

.showSearch {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include hoverColorTransition(#fff, $--bg-color-gray-hover);
  svg {
    fill: $--text-color;
    font-size: $--text-xl;
  }
}

.header.hide {
  > div {
    display: none;
  }
}

.youtube {
  width: 24px;
  height: 19px;
  background: url('./../../assets/icons/css_sprites.png') no-repeat -10px -56px;
}

.searchIcon {
  width: 20px;
  height: 20px;
  background: url('./../../assets/icons/css_sprites.png') no-repeat -12px -12px;
}

@media screen and (max-width: 1024px) {
  .hamburger {
    display: flex;
  }
}

@media screen and (min-width: 769px) {
  .header.hide {
    > div {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .showSearch {
    display: block;
    &.hide {
      display: none;
    }
  }
}
