.searchWrap {
  max-width: 1200px;
  margin: 0 auto;
}

.searchUl {
  @include flexColumnGap(20px);
}

.spinner {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
