.authInput {
  width: 100%;
  position: relative;
  label {
    @include a11yHidden();
  }
  input {
    width: 100%;
    padding: 0.9375rem;
    border: 0.0625rem solid $--border-color;
    border-radius: 0.3125rem;
    &:focus {
      border-color: $--primary-color;
    }
  }
  input.password {
    padding-right: 1.875rem;
  }

  button {
    padding: 0.125rem;
    position: absolute;
    right: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: $--text-base;
  }
}

.errorMsg {
  color: red;
  position: absolute;
  bottom: -1rem;
  text-align: left;
  font-size: 0.75rem;
  margin: 0.3125rem 0 0 0.3125rem;
}

.visible {
  width: 18px;
  height: 18px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -182px -90px;
}

.invisible {
  width: 18px;
  height: 18px;
  background: url('./../../../assets/icons/css_sprites.png') no-repeat -183px -50px;
}
