.channelNav {
  width: 100%;
  border-bottom: 1px solid $--border-color;
  position: sticky;
  background-color: #fff;
  top: 72px;
  ul {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    @include alienCenter();

    @include respond-to(max-768) {
      @include flexCenter();
    }
  }

  li > a,
  li > button {
    display: block;
    position: relative;
    font-size: $--text-md;
    padding: 15px 30px;
    @include hoverColorTransition(transparent, $--bg-color-gray-hover);
    @include respond-to(max-768) {
      padding: 15px 20px;
    }
  }
  li > a.active,
  li > button.active {
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: $--primary-color;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
